In [53]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [54]:
df = pd.read_csv('HR_comma_sep.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [55]:
X = df.drop('left',axis = 1)
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,0,sales,low
1,0.80,0.86,5,262,6,0,0,sales,medium
2,0.11,0.88,7,272,4,0,0,sales,medium
3,0.72,0.87,5,223,5,0,0,sales,low
4,0.37,0.52,2,159,3,0,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low
14995,0.37,0.48,2,160,3,0,0,support,low
14996,0.37,0.53,2,143,3,0,0,support,low
14997,0.11,0.96,6,280,4,0,0,support,low
14998,0.37,0.52,2,158,3,0,0,support,low

In [56]:
y = df.left
y

0        1
1        1
2        1
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [58]:
X

array([[0.0, 1.0, 0.0, ..., 0, 0, 'sales'],
       [0.0, 0.0, 1.0, ..., 0, 0, 'sales'],
       [0.0, 0.0, 1.0, ..., 0, 0, 'sales'],
       ...,
       [0.0, 1.0, 0.0, ..., 0, 0, 'support'],
       [0.0, 1.0, 0.0, ..., 0, 0, 'support'],
       [0.0, 1.0, 0.0, ..., 0, 0, 'support']], dtype=object)

In [59]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [60]:
X

array([[0.0, 0.0, 0.0, ..., 3, 0, 0],
       [0.0, 0.0, 0.0, ..., 6, 0, 0],
       [0.0, 0.0, 0.0, ..., 4, 0, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 3, 0, 0],
       [0.0, 0.0, 0.0, ..., 4, 0, 0],
       [0.0, 0.0, 0.0, ..., 3, 0, 0]], dtype=object)

In [61]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

##### Impact of variables on employee retention:

In [62]:
df.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000

Considering 0.05 as the minimum criteria for variables having clear and direct impact on employee retention, we can find out that, 
Variables having direct and clear impact on the employee retention are:
1) Satisfaction Level
2) Average Monthly Hours
3) Time Spent in Company
4) Work Accident
5) Promotion in last 5 years

##### Bar Charts showing impact of salaries on retention:

##### Bar Charts showing correlation b/w department and employee retention:

##### Building the Logistic Regression Model:

In [86]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

C:\Users\ADMIN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [88]:
y_predict=model.predict(X_test)
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [89]:
y_test

10019    0
6722     0
7709     0
1881     1
9629     0
        ..
5833     0
13936    0
8521     0
13891    0
8358     0
Name: left, Length: 3000, dtype: int64

In [90]:
model.score(X_test,y_test)

0.7873333333333333